<!DOCTYPE html>
<html>
	<head>
		<title>My to-do list</title>
		<style type="text/css">
			.tasks-list {
				list-style-type: none;
			}
			.list-element {
				border: none;
				font-size: 12px;
			}
		</style>
	</head>
	<body>
		<h1>My to-do list</h1>
		<form action="/modify/" method="post" name="taskForm" onChange="this.submit()">
			<ul class="tasks-list">
				<% todolist.forEach(function(task, index) { %>
				<li><input type="checkbox" name="<%= index %>"> <input class="list-element" type="text" name="<%= index %>" value="<%= task %>"></input></li>
				<% }); %>
			</ul>	
		</form>

		<p>Add a task:</p>
		<form action="/add/" method="post">
			<input name="task" type="text"></input>
			<button type="submit">Confirm</button>	
		</form>
	</body>
</html>